body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8676E1;
  background-image: url('../public/orderfylogo.PNG');
  background-repeat: repeat;
  background-size: calc(2px + 5vw);
  background-position: 0 0, 15px 15px;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {  /* This breakpoint can be adjusted as needed */
  body {
      background-size: calc(50px + 3vw);  /* Adjust this value for your desired mobile scale */
  }
}