.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 97.5%;
    padding-left: 20px; 
    padding-right: 20px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: rgb(173, 200, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .app-name {
    color: #316fff;
    font-size: 40px;
    font-weight: 600;
  }
  
  .interface-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    color: #316fff;
    font-weight: 600;
  }
  
  .logout-button {
    order: 3;
    margin-right: 10px;
  }