.order-list-header {
    margin-bottom: 20px;
}

.order-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.order {
    box-sizing: border-box;
    padding: 5px;
}

.order-id {
    margin-bottom: 5px; 
    white-space: nowrap;
    text-align: left;
}

.ready-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; 
}